<div class="input-group">
	<input type="text" class="form-control" placeholder="Введите наименование...">
	<span class="input-group-btn">
		<button class="btn btn-success" type="button">Найти</button>
	</span>
</div>